/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 30px;
}

.gallery-item {
  flex-basis: calc((100% - 66px) / 3);
  height: 300px;
  border: 1px solid black;
  img {
    height: 245px;
    object-fit: cover;
    width: 100%;
  }
}

.thumb {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.thumb-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.loader {
  width: 48px;
  height: 48px;
  border-width: 3px;
  border-style: dashed solid solid dotted;
  border-color: #ff3d00 #ff3d00 transparent #ff3d00;
  border-radius: 50%;
  display: none;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 0 auto;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 20px;
  top: 31px;
  border: 10px solid transparent;
  border-right-color: #ff3d00;
  transform: rotate(-40deg);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.load-more {
  background: #4e75ff;
  border-radius: 8px;
  border: transparent;
  color: white;
  padding: 8px 16px;
  display: none;
  margin: 0 auto;
}
